* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Poppins";
  src: url("../resource/fonts/Poppins-Regular.ttf");
}
body {
  font-size: 10px;
  font-family: "Poppins", sans-serif;
}
.section1 {
  font-family: "Poppins";
  background: linear-gradient(
    90deg,
    rgba(67, 56, 202, 1) 59%,
    rgba(183, 220, 137, 1) 59%
  );
}

header {
  display: flex;
  justify-content: space-between;
}
.header__name {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  padding: 33px 0px 0px 50px;
  color: #fff;
}
.header__nav {
  padding: 33px 87px 0 0;
}
.header__nav a {
  margin-right: 4vw;
  text-decoration: none;
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  text-transform: uppercase;
  color: #fff;
}
.header__nav a:nth-of-type(5) {
  border: 2px solid #4338ca;
  padding: 10px 20px;
  color: #fff;
  background-color: #4338ca;
  font-weight: bold;
}

main {
  display: flex;
  align-items: center;
  height: 100vh;
  padding-left: 8vw;
  flex-direction: row;
  position: relative;
}
.main__vector3 {
  position: absolute;
  top: 6vh;
  left: 3vw;
}
.main__ellipse1 {
  position: absolute;
  bottom: 15vh;
  left: 25vw;
}
.main__ellipse2 {
  position: absolute;
  top: 5vh;
  right: 30vw;
}

.main__article {
  display: flex;
  flex-direction: column;
  color: #fff;
}
.main__article h3 {
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 3vh;
}
.main__article h1 {
  font-weight: 700;
  font-size: 5.3rem;
  line-height: 93.02%;
  margin-bottom: 3vh;
}
.main__article p {
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 30px;
  margin-bottom: 6vh;
}
.main__article span {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 38px;
  letter-spacing: 0.05em;
  border: 1px solid rgba(67, 56, 202, 1);
  flex-direction: row;
  align-items: flex-start;
  padding: 15px 50px;
  gap: 10px;
  width: 20vw;
  height: 8vh;
  background: #b7dc89;
}
.main__portfolio-image {
  position: relative;
  display: flex;
  padding-left: 2vw;
}
.main__portfolio-image .bild {
  z-index: 1;
}
.main__portfolio-image .rahmen {
  position: absolute;
  padding-left: 2vw;
  padding-top: 4vh;
}

#section2 {
  font-family: "Poppins";
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 62vw;
  height: 100vh;
  padding-left: 12vw;
  position: relative;
}
.section2__ellipse3 {
  position: absolute;
  top: 5vh;
  left: 30vh;
}
.section2__ellipse4 {
  position: absolute;
  top: 18vh;
  right: -20vw;
}
#section2 h1 {
  font-weight: 700;
  font-size: 4rem;
  line-height: 12vh;
  color: #4338ca;
}
#section2 p {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 4vh;
  color: #4338ca;
}
.section2__icons {
  display: flex;
  margin: 25px 0;
  gap: 2vw;
}
.section2__vector2 {
  position: absolute;
  bottom: 23vh;
  left: 6vw;
}
.section2__ellipse5 {
  position: absolute;
  bottom: 15vh;
  right: 10vw;
}
.section2__vector1 {
  position: absolute;
  right: -30vw;
  bottom: 10vh;
}

#section3 {
  display: flex;
  align-items: center;
  background-color: #4338ca;
  padding: 20vh 0 0 10vw;
}
#section3 article {
  position: relative;
}
.section3__title {
  font-weight: 700;
  font-size: 5rem;
  color: #ffffff;
  margin-bottom: 40px;
}
.ellipse6 {
  position: absolute;
  right: 12vw;
  bottom: 95vh;
}
.vector4 {
  position: absolute;
  right: -10vw;
  top: 2vh;
}
.ellipse6_1 {
  position: absolute;
  right: -20vw;
  bottom: 7vh;
}
.vector4_1 {
  position: absolute;
  bottom: 12vh;
  left: -4vw;
}
.section3__icon-container1 {
  display: flex;
  gap: 3vw;
  margin-bottom: 60px;
}
.section3__icon-container1 p,
.section3__icon-container2 p {
  font-size: 0.8rem;
}
.section3__icon-container2 {
  display: flex;
  gap: 3vw;
  padding-bottom: 15vh;
}
.section3__icon-container1 div,
.section3__icon-container2 div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3vh;
  color: #fff;
}
.express img{
  margin-bottom: 5vh;
}

#section4 {
  display: grid;
  padding: 10vh 10vw;
  position: relative;
}
.section4__header h1 {
  font-size: 5rem;
  margin-bottom: 5vh;
  color: rgba(67, 56, 202, 1);
}
.vector5 {
  position: absolute;
  right: 8vw;
  top: 15vh;
}
.ellipse7 {
  position: absolute;
  right: 5vw;
  bottom: 35vh;
}
.ellipse7_1 {
  position: absolute;
  right: 30vw;
  bottom: 2vh;
}
.ellipse7_2 {
  position: absolute;
  left: 4vw;
  top: 80vh;
}
.employmentTypes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.experience div {
  width: 40vw;
  background-color: #b7dc89;
  color: #fff;
  padding: 25px 110px 25px 25px;
  margin-bottom: 20px;
  line-height: 25px;
}
.experience h1,
.education h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}
.experience span,
.education span {
  font-size: 0.9rem;
}
.experience h2,
.education h2 {
  font-size: 1.4rem;
}
.experience h5,
.education h5 {
  font-size: 0.9rem;
}
.experience ul li,
.education ul li {
  font-size: 0.8rem;
  list-style-type: none;
}
.education div {
  width: 40vw;
  background-color: rgba(67, 56, 202, 1);
  color: #fff;
  padding: 25px 110px 25px 25px;
  margin-bottom: 20px;
  line-height: 25px;
}
#section5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10vh 10vw;
  position: relative;
}
.vector6 {
  position: absolute;
  top: 68vh;
  left: 3vw;
}
.vector7 {
  position: absolute;
  bottom: 5vh;
  right: 5vw;
}
.ellipse7_4 {
  position: absolute;
  bottom: 20vh;
  left: 45vw;
}
.section5__header h1 {
  font-size: 6rem;
  margin-bottom: 10vh;
  color: rgba(67, 56, 202, 1);
}
.projects-gallery-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 40vh);
  margin-bottom: 10vh;
}
.projects-gallery-section div {
  position: relative;
}
.projects-gallery-section div:hover .image-box img {
  display: none;
}
.projects-gallery-section div:hover .language-box {
  display: block;
}
.image-box img {
  width: 22vw;
  height: 28vh;
  position: absolute;
  z-index: 1;
}
.image-frame {
  position: absolute;
  z-index: 0;
  border: 3px solid rgba(67, 56, 202, 1);
  width: 22vw;
  height: 28vh;
  left: 20px;
  top: 10px;
  z-index: 0;
}
.language-box {
  text-align: center;
  display: none;
  width: 22vw;
  height: 28vh;
  padding: 5vh 5vw;
  position: absolute;
  background-color: #b7dc89;
  z-index: 1;
  font-size: 1.2rem;
  bottom: 28vh;
  color: #fff;
}

#section6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10vw 20vh 10vw;
  position: relative;
}
.section6__header h1 {
  font-size: 5rem;
  color: rgba(67, 56, 202, 1);
  margin-bottom: 6vh;
}
.credentials {
  display: flex;
  flex-direction: column;
  display: grid;
  grid-template-rows: repeat(2, 30vh);
}
.dev1-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 30px;
}
.dev2-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 30px;
}
.dev1-photo {
  grid-column: 1/2;
  width: 16vw;
}
.dev2-photo {
  grid-column: 4/5;
  width: 16vw;
}
.dev1-cv,
.dev2-cv {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b7dc89;
  width: 60vw;
  color: #fff;
  font-size: 1.3rem;
  padding: 20px;
}
.vector8 {
  position: absolute;
  bottom: 5vh;
}
