* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 10px;
}
.section1 {
  font-family: "Poppins";
  background: linear-gradient(
    90deg,
    rgba(67, 56, 202, 1) 59%,
    rgba(183, 220, 137, 1) 59%
  );
}

header {
  display: flex;
  justify-content: space-between;
}
.header__name {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  padding: 33px 0px 0px 50px;
  color: #fff;
}
.header__nav {
  padding: 33px 87px 0 0;
}
.header__nav a {
  margin-right: 40px;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #fff;
}
.header__nav a:nth-of-type(5) {
  border: 2px solid #4338ca;
  padding: 10px 20px;
  color: #fff;
  background-color: #4338ca;
  font-weight: bold;
}

main {
  display: flex;
  align-items: center;
  height: 100vh;
  padding-left: 123px;
  flex-direction: row;
}
.main__icons {
  display: flex;
  align-self: baseline;
  padding: 80px 0;
  margin-left: -50px;
  position: relative;
}
.main__vector3 {
  width: 61px;
  height: 62px;
}
.main__ellipse1 {
  width: 23px;
  height: 23px;
  left: 820px;
  bottom: 150px;
  position: absolute;
}
.main__ellipse2 {
  position: absolute;
  bottom: -450px;
  left: 260px;
}

.main__article {
  display: flex;
  flex-direction: column;
  color: #fff;
}
.main__article h3 {
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 13px;
}
.main__article h1 {
  font-weight: 700;
  font-size: 80px;
  line-height: 93.02%;
  margin-bottom: 13px;
}
.main__article p {
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 25px;
}
.main__article span {
  font-weight: 400;
  font-size: 22px;
  line-height: 38px;
  letter-spacing: 0.05em;
  border: 1px solid rgba(67, 56, 202, 1);
  flex-direction: row;
  align-items: flex-start;
  padding: 15px 50px;
  gap: 10px;
  width: 282px;
  height: 68px;
  background: #b7dc89;
}
.main__portfolio-image {
  position: relative;
  display: flex;
  padding-left: 20px;
}
.main__portfolio-image .bild {
  z-index: 1;
}
.main__portfolio-image .rahmen {
  position: absolute;
  padding-left: 32px;
  padding-top: 27px;
}

#section2 {
  font-family: "Poppins";
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 700px;
  height: 100vh;
  padding-left: 163px;
  position: relative;
}
.section2__ellipse3 {
  width: 23px;
  height: 23px;
  margin: 0px 0px 70px 130px;
}
.section2__ellipse4 {
  width: 23px;
  height: 23px;
  align-self: flex-end;
  margin-right: -300px;
}
#section2 h1 {
  font-weight: 700;
  font-size: 67px;
  line-height: 100px;
  color: #4338ca;
}
#section2 p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #4338ca;
}
.section2__icons {
  display: flex;
  margin: 25px 0;
  gap: 30px;
}
.section2__vector2 {
  width: 110px;
  height: 42px;
}
.section2__ellipse5 {
  width: 23px;
  height: 23px;
  align-self: flex-end;
  margin-top: 25px;
}
.section2__vector1 {
  align-self: flex-end;
  position: absolute;
  top: 600px;
  right: -500px;
}

#section3 {
  display: flex;
  align-items: center;
  background-color: #4338ca;
  padding-left: 160px;
  padding-top: 150px;
}
.section3__title {
  font-weight: 700;
  font-size: 6rem;
  line-height: 150px;
  color: #ffffff;
  margin-bottom: 40px;
}
.section3__icon-container1 {
  display: flex;
  gap: 35px;
  margin-bottom: 60px;
}
.section3__icon-container2 {
  display: flex;
  gap: 35px;
  padding-bottom: 150px;
}
.section3__icon-container1 div,
.section3__icon-container2 div {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  gap: 20px;
}
.express {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  gap: 62px;
}

#section4 {
  display: grid;
  padding: 10vh 10vw;
}
.section4__header h1 {
  font-size: 6rem;
  margin-bottom: 10vh;
  color: rgba(67, 56, 202, 1);

}
.employmentTypes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.experience div {
  width: 40vw;
  background-color: #b7dc89;
  color: #fff;
  padding: 25px 110px 25px 25px;
  margin-bottom: 20px;
  line-height: 25px;
}
.experience h1,
.education h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}
.experience span,
.education span {
  font-size: 0.9rem;
}
.experience h2,
.education h2 {
  font-size: 1.4rem;
}
.experience h5,
.education h5 {
  font-size: 0.9rem;
}
.experience ul li,
.education ul li {
  font-size: 0.8rem;
  list-style-type: none;
}
.education div {
  width: 40vw;
  background-color: rgba(67, 56, 202, 1);
  color: #fff;
  padding: 25px 110px 25px 25px;
  margin-bottom: 20px;
  line-height: 25px;
}
#section5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10vh 10vw;
}
.section5__header h1 {
  font-size: 6rem;
  margin-bottom: 10vh;
  color: rgba(67, 56, 202, 1);
}
.projects-gallery-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 40vh);
  margin-bottom: 10vh;
}
.projects-gallery-section div {
  position: relative;
}
.projects-gallery-section div:hover .image-box img {
  display: none;
}
.projects-gallery-section div:hover .language-box {
  display: block;
}
.image-box img {
  width: 22vw;
  height: 28vh;
  position: absolute;
  z-index: 1;
}
.image-frame {
  position: absolute;
  z-index: 0;
  border: 3px solid rgba(67, 56, 202, 1);
  width: 22vw;
  height: 28vh;
  left: 20px;
  top: 10px;
  z-index: 0;
}
.language-box {
  text-align: center;
  display: none;
  width: 22vw;
  height: 28vh;
  padding: 10vh 5vw;
  position: absolute;
  background-color: #b7dc89;
  z-index: 1;
  font-size: 1.2rem;
  bottom: 28vh;
  color: #fff;
}
